// Max column value
$max-boxes: 10;

// Border
$border-max-width: 10;
$border-max-radius: 50;

// Font
$font-size-max: 100;

// Margin and padding
$margin: 0 5 10 15 20 25 30 35 40 45 50 auto;
$padding: 0 5 10 15 20 25 30 35 40 45 50 auto;

// Breakpoints
$width-xs: 400px;  $width-sm: 768px;
$width-md: 992px;  $width-lg: 1200px;
$breakpoints: xs $width-xs sm $width-sm md $width-md lg $width-lg;

// Colors
$color-primary: #355c7d;
$color-secondary: #f67280;
$background-color: #F2F2F2;
$color-background: #F2F2F2;

$color-success: #28A745;
$color-warning: #FFC107;
$color-info: #17A2B8;
$color-danger: #DC3545;
$color-error: #DC3545;

$colors:
        primary $color-primary
        secondary $color-secondary
        success $color-success
        error $color-error
        danger $color-danger
        background $color-background
        info $color-info
        warning $color-warning;

$header-height: 100px;
$footer-height: 80px;